* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Quicksand, sans-serif;
}

html {
    font-size: 62.5%;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.form-wrapper {
    width: 100rem;
    height: 70rem;
    background-color: #eceedf;
    border-radius: 3rem;
    box-shadow: 0 2rem 6rem rgba(0,0,0,0.3);
    position: relative;
    overflow: hidden;
}

.banner {
    position: absolute;
    top: 25%;
    left: 35%;
    text-align: center;
    color: #666666;
    width: 30rem;
    z-index: 100;
    transition: left 0.8s;
}

.container.change .banner {
    left: 5rem;
}

.banner h1 {
    font-size: 4rem;
    margin-bottom: 3rem;
}

.banner img {
    width: 70%;
    border: none;
    margin-bottom: 5rem;
    transition: transform 1.5s ease-in-out;
}

.container.change .banner img {
    width: 40%;
    border: none;
    margin-bottom: 3rem;
}

.banner p {
    font-size: 2rem;
}

.green-bg {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #D3F8E2, #EDE7B1);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    transition: width 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.container.change .green-bg{
    width: 40%;
}

.green-bg button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%);
    width: 16rem;
    height: 5rem;
    background-color: transparent;
    border: .1rem solid #666666;
    border-radius: 3rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #666666;
    cursor: pointer;
}

.signup-form {
    width: 60rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10rem 0;
    transition: left 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.container.change .signup-form {
    left: 40rem;
}

.signup-form h1 {
    font-size: 4rem;
    color: #672e2d;
}

.social-media {
    display: flex;
}

.social-media i {
    width: 4rem;
    height: 4rem;
    border: 0.1rem solid #777;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    font-size: 2rem;
    color: #555;
}

.signup-form p {
    font-size: 1.8rem;
    color: #555;
    margin-bottom: 2rem;
}

.input-group {
    position: relative;
}

.input-group input {
    width: 28rem;
    height: 5rem;
    padding: 1rem 1rem 1rem 3rem;
    background-color: #ddd;
    border: none;
    border-radius: 0.5rem;
}

.input-group i {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #555;
}

.signup-form button {
    width: 16rem;
    height: 5rem;
    background-color: #672e2d;
    border: none;
    border-radius: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #fff;
    margin-top: 3rem;
    cursor: pointer;
}